#home, #facil{
    background: url(../imagens/capa.png), 
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
}
.navegacao{
    opacity: 0.6;
}
#home{
    padding: 300px 0;
}
#home, #facil{
    position: relative;
    opacity: 0.9;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
#img1, #img2, #img3, #img4{
    width: 100%;
}
#iphone1, #iphone2{
    width: 90%;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  
}
#iphone2{
    padding-top: 70%;
}